@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Kalameh;
    src: url("../public/KalamehBold.ttf");
}

@font-face {
    font-family: IRANSans;
    src: url("../public/IRANSansUltraLight.ttf");
    font-weight: 200;
}
@font-face {
    font-family: IRANSans;
    src: url("../public/IRANSansRegular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: IRANSans;
    src: url("../public/IRANSansMedium.ttf");
    font-weight: 500;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.mobile-navbar
{
    bottom: env(safe-area-inset-bottom);
}